
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin-top: 50px;
  text-align: center;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  h1 {
    color: d0d0d0;
  }

}

ul {
  text-align: left;
}

.checkIcon {
  margin-right: 15px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.todoEntry {
  width: 100%;
}
